 body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
 }

 header {
     background-color: #111;
     color: white;
     text-align: center;
     padding: 20px;
 }

 nav {
     background-color: #333;
     text-align: center;
     padding: 10px;
 }

 nav a {
     color: white;
     text-decoration: none;
     margin: 0 15px;
     font-weight: bold;
 }

 nav a:hover {
     color: red;
 }

 .container {
     width: 90%;
     margin: 20px auto;
 }

 .card {
     background: white;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     padding: 15px;
     margin-bottom: 20px;
     transition: 0.3s;
 }

 .card:hover {
     transform: scale(1.03);
 }

 .card img {
     width: 100%;
     border-radius: 10px;
 }

 .btn {
     display: inline-block;
     background: red;
     color: white;
     padding: 10px 15px;
     border-radius: 5px;
     text-decoration: none;
     margin-top: 10px;
 }

 .btn:hover {
     background: darkred;
 }

 footer {
     background: #111;
     color: white;
     text-align: center;
     padding: 15px;
     margin-top: 20px;
 }